{% extends "layout.html" %}

{% block content %}
<script>
    $(document).ready(function() {
        $('#add_stocks').click(function() {
            $(".ui.modal").modal('show');
        })
    });
</script>

<p>You are in the dashboard</p>

<div class="ui input focus">
    <input type="text" placeholder="P/E Ratio">
</div>

<div class="ui input focus">
    <input type="text" placeholder="Dividend Yield">
</div>

<div class="ui checkbox">
    <input type="checkbox" name="example">
    <label>Above 50-day MA</label>
</div>

<div class="ui checkbox">
    <input type="checkbox" name="example">
    <label>Above 200-day MA</label>
</div>

<button class="ui button primary">
    Filter
</button>

<div>
    <button id="add_stocks" class="ui button">Add Stocks</button>
</div>

<table class="ui celled table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>P/E</th>
            <th>Dividend Yield</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Name">MSFT</td>
            <td data-label="Age">10</td>
            <td data-label="Job">2</td>
        </tr>
        <tr>
            <td data-label="Name">AAPL</td>
            <td data-label="Age">44</td>
            <td data-label="Job">3</td>
        </tr>
        <tr>
            <td data-label="Name">FB</td>
            <td data-label="Age">20</td>
            <td data-label="Job">0</td>
        </tr>
    </tbody>
</table>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Add stock Symbol
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Enter stock Symbols</label>
                <textarea rows="2"></textarea>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui positive right labeled icon button">
            Add Symbols
            <i class="plus icon"></i>
        </div>
    </div>
</div>
{% endblock %}
